<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

</head>

  <body style="font-size:16px; padding:50px;">
    <% include partials/_header %>

    <h3 style="margin-top: 25px">My URLs</h3>

    <% if (email) { %>
      <% for (var element in urls) { %>


        <div style="margin-bottom:10px; padding:20px; background-color:#f0f0f0">
          <p style="margin-bottom:5px;"> <strong><%= element %>:</strong> <%= urls[element].longURL %> </p>
          <form style="display: inline-block;" method="GET" action='/urls/<%= element %>/'>
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
          <form style="display: inline-block;" method="POST" action='/urls/<%= element %>/delete'>
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
        </div>



      <% } %>
    <% } else { %>



      <h1>Login You Idiot!</h1>



    <% } %>
  </body>
</html>